<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-3.0.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">

	<!-- 需要在主配置文件配置entityManagerFactory和transactionManager的实现 -->
	
	<!-- Generator -->
	<bean id="generatorDao" class="cn.bc.orm.hibernate.jpa.HibernateCrudJpaDao"
		p:entityClass="cn.bc.identity.domain.Generator" p:entityManagerFactory-ref="entityManagerFactory" />
	<bean id="generatorService" class="cn.bc.identity.impl.service.GeneratorServiceImpl" />
	<aop:config>
		<aop:pointcut id="generatorServiceMethod"
			expression="within(cn.bc.identity.impl.service.GeneratorServiceImpl)" />
		<aop:advisor pointcut-ref="generatorServiceMethod" advice-ref="generatorServiceTxAdvice" />
	</aop:config>
	<tx:advice id="generatorServiceTxAdvice" transaction-manager="transactionManager">
		<tx:attributes>
			<tx:method name="next" propagation="REQUIRED" read-only="false" />
			<tx:method name="nextValue" propagation="REQUIRED" read-only="false" />
			<tx:method name="current" propagation="REQUIRED" read-only="true" />
			<tx:method name="currentValue" propagation="REQUIRED" read-only="true" />
		</tx:attributes>
	</tx:advice>
	
	<!-- Actor -->
	<bean id="actorDao" class="cn.bc.orm.hibernate.jpa.HibernateCrudJpaDao"
		p:entityClass="cn.bc.identity.impl.domain.ActorImpl"
		p:entityManagerFactory-ref="entityManagerFactory" />
	<bean id="actorService" class="cn.bc.identity.impl.service.ActorServiceImpl"
		p:crudDao-ref="actorDao" />
	
	<!-- Address -->
	<bean id="addressDao" class="cn.bc.orm.hibernate.jpa.HibernateCrudJpaDao"
		p:entityClass="cn.bc.one2onetest.Address"
		p:entityManagerFactory-ref="entityManagerFactory" />
	<bean id="addressService" class="cn.bc.one2onetest.AddressServiceImpl"
		p:crudDao-ref="addressDao" />
</beans>